_test
_test.js
_test_*.js

coverage/

*.iml
audit/
config_local/config.json
config_local/config-users.json
/config.json
/config-cp.json
/config-bank.json
/modules-config.json
/config_psp_cex.json
/config-feeGroups.json
/config_aggregator.json
/log4js-feeGroupsCfg.json
TODO
Full*
*.log.*
dump.*
logs/
informer/test/test_images
build/
views/head.ejs
.ssh/
redis.log
cex_dump.rdb
*.log
nohup.out
.history

#node files
npm-debug.log
node_modules

#IDE's
.idea
.editorconfig
.projects
.netbeans
.metadata
.project
.settings
.svn
*.code-workspace

#archives
*.tar.gz
*.tar.bz2
*.zip
*.bz2
*.rar
*.tar

#databases
dump.rdb

# old files
*.bak
*.old

# OS files
.DS_Store

##sass, less
.sass-cache
get_tx.rows.txt
get_tx.wiki.txt
get_tx.wiki.uniq.txt
*.pot*

# it's not ok, but who cares :)
package-lock.json
npm-shrinkwrap.json
version
